extends layout

block content
  h1 Save all liked Coubs with one click!
  p Just auth with Coub and we send you email with URL to download after we collect all your liked Coubs.
  a(href="/auth") Auth with Coub
